<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    	<tab id="magelearn" translate="label" sortOrder="400">
            <label>Magelearn Modules</label>
        </tab>
        <section id="mlstory" translate="label" type="text" sortOrder="192012" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Magelearn_Story::config</resource>
            <class>separator-top</class>
            <label>Story Page Setting</label>
            <tab>magelearn</tab>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_pages" translate="label" type="select" sortOrder="15" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Story Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <tooltip>The title of the Store Locator page will be displayed in the top (breadcrumbs) and bottom menu (footer).</tooltip>
                </field>
                <field id="add_to_toolbar_menu" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Story Listing Link to the Toolbar</label>
                    <tooltip>Link to the Store Locator page will be added to the toolbar</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="add_to_footer_menu" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Story Listing Link to the Footer</label>
                    <tooltip>Link to the Store Locator page will be added to the footer</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="story" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
			    <label>Story Page</label>
			    <group id="main_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			        <label>Main Settings</label>
			        <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			            <label>URL Key</label>
			            <validate>required-entry</validate>
			        </field>
			        <field id="meta_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
			            <label>Meta Title</label>
			        </field>
			        <field id="meta_description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
			            <label>Meta Description</label>
			        </field>
			        <field id="pagination_limit" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
			            <label>Number of Stories on a Page</label>
			            <validate>validate-number-range</validate>
			        </field>
			        <field id="description_limit" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
			            <label>Description Length Limit</label>
			        </field>
			    </group>
			</group>
        </section>
    </system>
</config>