.story-main-section {
    text-align: center;
    margin-bottom: 20px;
}

.main-story-photo img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.story-description {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.story-description p {
    margin: 0 auto;
    max-width: 800px;
}
.story-gallery-section {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9; /* Light background for the gallery section */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.story-gallery-section .gallery-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.story-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    padding: 10px;
}

.story-gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.story-gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.story-gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.story-gallery-item:hover img {
    transform: scale(1.1);
}

.no-gallery-message {
    text-align: center;
    font-size: 1rem;
    color: #666;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff3cd; /* Light yellow background */
    border: 1px solid #ffeeba; /* Yellow border */
    border-radius: 4px;
}
.gallery-wrapper {
    display: block;
}
.gallery-slider {
    margin-bottom: 20px;
}
.gallery-slide img {
    width: 100%;
    height: auto;
}
.gallery-slider-nav {
    margin-top: 20px;
}
.gallery-nav-slide {
    padding: 0 5px;
}
.gallery-nav-slide img {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.gallery-nav-slide.slick-current img {
    opacity: 1;
}
.slick-slide.slick-current.slick-active img {
	opacity: 1;
}
/* Custom arrow styles */
.slick-prev,
.slick-next {
    z-index: 1;
    width: 40px;
    height: 40px;
}
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}
